#grad1 {
  height: 720px;
  background-image: linear-gradient(
    to right,
    #fff 30%,
    #64B5F6 15%,
    #42A5F5 15%,
    #1565C0 45%,
    #0D47A1 65%
  );
}
.ng-valid[required]  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.logForm{
  width: 400px;
  height:400px;
  background-color: white;
  margin-left: 200px;
  margin-top: 200px;
}
